{% extends 'shared/_layout.html' %}
{% load thumbnail %}
{% load poll_extras %}
{% load render_partial %}

{% block title %}
    {{ article.title }}
{% endblock %}

{% block content %}
    <section>
		<div class="container">
			<div class="row">
				
				<div class="col-sm-9">
					<div class="blog-post-area">
						<h2 class="title text-center"> {{ article.title }} </h2>
						<div class="single-blog-post">
							<h3>{{ article.title }}</h3>
							<div class="post-meta">
								<ul>
									{% if article.author %}
									    <li><i class="fa fa-user"></i>{{ article.author }}</li>
									{% endif %}
									<li><i class="fa fa-clock-o"></i>{{ article.create_date | show_jalali_time }}</li>
									<li><i class="fa fa-calendar"></i>{{ article.create_date | show_jalali_date }}</li>
								</ul>
								<span>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star"></i>
										<i class="fa fa-star-half-o"></i>
								</span>
							</div>
							<a href="">
								{% if article.image %}
								    {% thumbnail article.image "862x398" crop='center' quality=95 as im %}
                                        <img src="{{ im.url }}" alt="{{ article.title }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img src="/static/images/blog/blog-one.jpg" alt="{{ article.title }}">
								{% endif %}
							</a>
                            <p>{{ article.short_description }}</p>
                            <p>{{ article.text }}</p>
						</div>
					</div><!--/blog-post-area-->

					<div class="media commnets">
						{% if article.author %}
						    <a class="pull-right" href="#">
                                {% if article.author.avatar %}
                                    {% thumbnail article.author.avatar "121x86" crop='center' quality=95 as im %}
                                        <img src="{{ im.url }}" alt="{{ article.author }}">
                                    {% endthumbnail %}
                                {% else %}
                                    <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                {% endif %}
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">نویسنده : {{ article.author }}</h4>
                                <p>{{ article.author.about_user }}</p>
                                </div>
						{% endif %}
					</div><!--Comments-->
					<div class="response-area" id="comment-area">
						<h2>پاسخ ها ({{ all_comments }})</h2>
						<ul class="media-list">
							{% for main_comment in comments %}
							    <li class="media" id="single_comment_box_{{ main_comment.id }}">

                                    <a class="pull-right" href="#">
                                        {% if main_comment.user.avatar %}
                                            {% thumbnail main_comment.user.avatar '121x86' crop='center' quality=95 as im %}
                                                <img class="media-object" src="{{ im.url }}" alt="{{ main_comment.user }}">
                                            {% endthumbnail %}
                                        {% else %}
                                            <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                        {% endif %}
                                    </a>
                                    <div class="media-body">
                                        <ul class="sinlge-post-meta">
                                            <li><i class="fa fa-user"></i>{{ main_comment.user }}</li>
                                            <li><i class="fa fa-clock-o"></i>{{ main_comment.create_date | show_jalali_time }}</li>
                                            <li><i class="fa fa-calendar"></i>{{ main_comment.create_date | show_jalali_date }}</li>
                                        </ul>
                                        <p>{{ main_comment.text }}</p>
                                        <a class="btn btn-primary" onclick="fillParentId({{ main_comment.id }})"><i class="fa fa-reply"></i>پاسـخ</a>
                                    </div>
                                </li>
                                {% for sub_comment in main_comment.articlecomments_set.all %}
                                    <li class="media second-media" id="single_comment_box_{{ sub_comment.id }}">

                                        <a class="pull-right" href="#">
                                            {% if sub_comment.user.avatar %}
                                                {% thumbnail sub_comment.user.avatar '121x86' crop='center' quality=95 as im %}
                                                    <img class="media-object" src="{{ im.url }}" alt="{{ sub_comment.user }}">
                                                {% endthumbnail %}
                                            {% else %}
                                                <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                                            {% endif %}
                                        </a>
                                        <div class="media-body">
                                            <ul class="sinlge-post-meta">
                                                <li><i class="fa fa-user"></i>{{ sub_comment.user }}</li>
                                                <li><i class="fa fa-clock-o"></i>{{ sub_comment.create_date | show_jalali_time }}</li>
                                                <li><i class="fa fa-calendar"></i>{{ sub_comment.create_date | show_jalali_date }}</li>
                                            </ul>
                                            <p>{{ sub_comment.text }}</p>
                                        </div>
                                    </li>
                                {% endfor %}

							{% endfor %}

						</ul>					
					</div><!--/Response-area-->
					<div class="replay-box" id="comment-form">
						{% if request.user.is_authenticated %}
						    <div class="row">
                                <div class="col-sm-12">
                                    <h2>نظـر خود را بنویسیـد</h2>
                                    <div class="text-area">
                                        <input type="hidden" value="" id="parent_id">
                                        <div class="blank-arrow">
                                            <label>متن پیام</label>
                                        </div>
                                        <span>*</span>
                                        <textarea name="message" rows="11" id="commentText"></textarea>
                                        <a class="btn btn-primary" onclick="sendArticleComment({{ article.id }})">ارسـال نظـر</a>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="alert alert-warning">
                                برای درج نظر باید <a href="{% url 'login_page' %}"></a> کنید
                            </div>
						{% endif %}
					</div><!--/Repaly Box-->
				</div>
				
				<div class="col-sm-3">
					<div class="left-sidebar">
                        {% render_partial 'Article_Module.views.article_category_component' %}
					</div>
				</div>
				
			</div>
		</div>
	</section>
{% endblock %}