<h2>دسته بندی محصولات</h2>
<div class="panel-group category-products" id="accordian"><!--category-productsr-->
        {% for category in categories %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="{% url 'product-by-category-list' category=category.url_title %}">
                            {{ category.title }}
                        </a>
                    </h4>
                </div>
            </div>
        {% endfor %}


        {% comment %}<div id="sportswear" class="panel-collapse collapse">
            <div class="panel-body">
                <ul>
                    <li><a href="">محصول 1 </a></li>
                    <li><a href="">محصول 2 </a></li>
                    <li><a href="">محصول 3 </a></li>
                    <li><a href="">محصول 4</a></li>
                    <li><a href="">محصول 5</a></li>
                </ul>
            </div>
        </div>{% endcomment %}
</div><!--/category-productsr-->